.container {
  display: flex;
  flex: 1;
}

.data-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 20rpx;
  gap: 20rpx;
}

.data-row .card {
  flex: 1;
  aspect-ratio: 3/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 0;
}

.data-row .title {
  flex: 1;
  font-size: 28rpx;
  margin-bottom: 0;
  ;
}

.data-row .value {
  flex: 1;
  color: rgb(108, 176, 5);
  font-size: 72rpx;
  font-weight: bold;
  line-height: 1;
}

.data-row .value.broken {
  color: rgb(202, 3, 3);
}

.data-row .value.cancel {
  color: rgb(225, 53, 6);
}

.charts {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20rpx;
}

.summary-row {
  display: flex;
  flex-direction: row;
  padding: 10rpx;
}

.charts-box {
  // height: 300rpx;
}